.menuToggle {
  display: block;
  cursor: pointer;
  margin-bottom: 0;
}
.menu {
  position: absolute;
  width: 100%;
  padding: 5px;
  line-height: 17px;
  display: none;
  //background: rgba(143, 188, 143, 0.5);
  background: rgba(123, 238, 199, 0.4);
}
.menu .menu-item {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.menu .menu-item:before {
  content: '';
}
.menu .menu-item a {
  color: #9a9a9a;
  font-family: $title-font-family-1;
  text-decoration: none;
  text-transform: uppercase;
}
.menu .menu-item a:hover {
  color: #000080;
}