@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*Global Variables*/
$main-font-family: 'Raleway', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$title-font-family-1: 'Open+Sans', sans-serif;

$main-font-size: 17px;
/*Menu*/
$menu-font-size: 16px;

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
}

h1, p {
  margin-top: 0;
}